.game-field {
    width: 1000px;
    height: 900px;
    background-color: dimgray;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 100px;
    height: 90px;
    outline: 1px solid black;
    
}