.game-field {
    width: 1000px;
    height: 1000px;
    background-color: dimgray;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 10px;
    height: 10px;
    outline: 1px solid black;
}

.car {
    background-color: black;
}

.barrier {
    background-color: white;
}